# IDEs
.idea
.vscode

# Build artifacts
target

# Certificates
*.crt
*.key
*.pem
!key.pem
!pubkey.pem

# Local configuration
config/local.*
migrations/*.local.sql

# TLS certificates
config/axel.*

# Runtime files
logs
