[static-server]
bind-address = "0.0.0.0:2021"
# Publicly available URL for that is routed to the static server.
public-url = "https://axel.assasans.dev/static/"
resources-root = "/mnt/smb/assasans/public/konofd"
# Can be commented out if you don't want to have remote fallback.
upstream-url = "https://smb.assasans.dev/konofd/"

[api-server]
bind-address = "0.0.0.0:2020"
# Publicly available URL that is routed to the API server.
public-url = "https://axel.assasans.dev/api/"

[database.pool]
host = "10.66.66.1"
port = 5432
user = "axel"
dbname = "axel"

# [database.tls]
# ca-cert = "/home/assasans/dev/00-aqua/ca.crt"
# client-cert = "config/axel.crt"
# client-key = "config/axel.key"

[database.sql-console-pool]
host = "10.66.66.1"
port = 5432
dbname = "axel"
user = "axel_edit"

# [database.sql-console-tls]
# ca-cert = "config/ca.crt"
# client-cert = "config/axel_edit.crt"
# client-key = "config/axel_edit.key"
